/* COMMON RULES & UTILITY CLASSES */
html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

.hidden {
    display: none;
}
/* 
.winner-animation {

} */


/* STYLE */
header {
    height: 150px;
    background-color: orange;
    border-bottom: 4px solid rgb(10, 10, 10);
}

header h1 {
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 40px;
    text-shadow: 6px 6px 4px rgba(40, 40, 40, 0.6);
}

main {
    margin-top: 50px;
    text-align: center;
    padding: 0 5vw;
}

main h2 {
    font-weight: 500;
    text-align: center;
}

main button {
    margin-top: 30px;
    border: 1px solid rgb(201, 114, 0);
    border-radius: 2.5em;
    background-color: orange;
    padding: 0.5em 1em;
    font-size: 19px;
}

main button:hover {
    transform: scale(1.15);
    transition: 0.25s;
}

main button:active {
    transform: scale(0.9);
    transition: 0.025s;
    outline: none;
    border: 1px solid rgb(10, 10, 10);
}

main button:focus {
    outline: none;
    border: 2px solid lightblue;
}

main .results-container {
}

main .results-container h3 {
    font-size: 28px;
}

main .results-container h4 {
    font-size: 24px;
    font-weight: 500;
}

main .results-container .user-dice, main .results-container .computer-dice {
    display: inline-block;
    text-align: center;
    width: 150px;
    margin-top: 30px;
}

main .results-container .dice-result {
    padding: 20px 10px;
    font-size: 19px; 
}

main .results-container #result {
    font-size: 44px;
    margin-top: 20px;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: underline;
}